- resource.user_type ||= params[:user].try(:fetch, :user_type) || User::TYPE_STUDENT

-#
  Retrieve the return_to value from the session, which will also delete it.
  It means that a failed attempted to sign up here will no longer take the
  user to the recorded return_to URL upon a future attempt at sign-in/up, but
  that should be alright because it's really only a best-attempt, and not
  crucial, and should probably only be done immediately after the user attempted
  to go that that URL anyway, not a long time afterwards which is confusing.

- return_to_url = get_and_clear_session_return_to

#signup
  .row
    .span9
      %h1= t('signup_form.signup_title')
      %p= t('signup_form.overview_student').html_safe
      %p= sanitize(t('signup_form.no_signup_message').html_safe, tags: %w(a), attributes: %w(href target))

  .row
    .span8.signupblock
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'signupform'}) do |f|
        = signup_error_messages!
        = render partial: "devise/shared/signup_form", locals: { url: registration_path(resource_name), f: f, resource_name: resource_name, return_to_url: return_to_url, is_teacher: resource.teacher? }
